<footer class="site-footer">
  {{! <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam illo nostrum veniam neque voluptatum doloribus exercitationem consequuntur, provident maiores dolor aperiam deserunt voluptatibus maxime! Repudiandae illum officiis laudantium. Eaque debitis ipsam optio soluta ab nihil magni, esse modi iste eius, accusantium a nobis accusamus fugit quo dignissimos placeat ducimus neque!</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="/">Lorem ipsum dolor sit amet.</a></li>
              <li><a href="/">Lorem, ipsum.</a></li>
              <li><a href="/">Lorem, ipsum.</a></li>
              <li><a href="/">Lorem, ipsum.</a></li>
              
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/">Home</a></li>
              <li><a href="/weather">Weather</a></li>
              
            </ul>
          </div>
        </div>
        <hr>
      </div> }}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
          <a href="mailto:vaibhavsharma987s6@gmail.com">Vaibhav Sharma</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a
              class="facebook"
              target="_blank"
              href="https://www.facebook.com/profile.php?id=100024916807421"
            ><i class="fa fa-facebook"></i></a></li>
          <li><a
              class="twitter"
              target="_blank"
              href="https://twitter.com/sharma_vaibhav1"
            ><i class="fa fa-twitter"></i></a></li>
          <li><a
              class="dribbble"
              target="_blank"
              href="https://www.instagram.com/vaibhavsharma_1/"
            ><i class="fa fa-instagram"></i></a></li>
          <li><a
              class="linkedin"
              target="_blank"
              target="_blank"
              href="https://www.linkedin.com/in/vaibhav-sharma-a94678200/"
            ><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>