body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.headerNav {
    background-color: #212529;
}

@media (max-width:1100px) {
    .main {
        flex-wrap: wrap;
    }
    .mardiv {
        margin: auto;
        margin-bottom: 25px;
    }
    img {
        height: 80vh;
        width: 100vw !important;

        
    }
}

@media(max-width:800px) {
    img {
        height: 40vh;
        width: 100vw !important
    }
}

@media(min-width:1000px) {
    #carouselExampleControls {
        width: 70%;
        height: 70vh;
        overflow: hidden;
    }
    .main {
        margin: 0
    }
    .nav-item {
        margin-left: 50px;
        font-size: 20px;
    }
    .nav-item:hover {
        border-bottom: 1px solid white;
    }
    .brand {
        font-size: 20px;
    }
    .brand:hover {
        color: red;
    }
}

.weather-icon {
    width: 100%;
    font-size: 100px;
    text-align: center;
}